/* 全局样式重置 */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.card {
    background-color: #f3f3f3;
    padding: 10px;
    border-radius: 5px;
    box-shadow: none; /* 移除阴影效果 */
}